@import "../../app.scss";
.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .footer{
    border-top: 2px solid orange;
  }

  
  .social {
    display: flex;
    // justify-content 
    margin-left: 80vw;
    margin-bottom:1rem;
    gap: 20px;
    max-width: fit-content;
    // justify-content: ;
    .socialContainer {
      align-self: flex-end;
    }

    img {
      width: 38px;
      height: 38px;
    }
  }

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 300px;
      }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      min-height: 100%;
      align-items: right  ;
      gap: 50px;
      margin-right: 4rem;

      .elements{
        display: flex;
        flex-direction: column;
      }

      
      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        position: relative;
        bottom:3.5rem;
        left:1rem;
        width: 30%;
        height: 130%;
     
        // border-radius: 25px;
        object-fit: cover;
        margin-left: 2rem;

        @include mobile {
          width: 200px;
          height: 50px;
        }
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
      }

      button {
        width: 100px;
        height:50px;
        border-radius: 10px;
        background-color: orange;
        border: none;
        font-size: 24px;
        cursor: pointer;

        @include mobile {
          font-size: 16px;
          width: 150px;
          height: 50px;
        }
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }

    .box {
      padding: 50px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mobile {
        border: none;
        align-items: center;
        gap: 20px;
        padding: 10px;
      }

      p {
        @include mobile {
          display: none;
        }
      }

      button {
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;

        @include mobile {
          background-color: transparent;
          border: 1px solid orange;
          border-radius: 5px;
          color: orange;
          width: 50%;
          padding: 5px;
        }
      }
    }
  }
}
