
@tailwind base;
@tailwind components;
@tailwind utilities;






html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  // background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

.homepage .zidx{
position: relative;
z-index: 1;
}


.footer{
  border-color: blue;
  height: 100;
}


.video {
  position: fixed; /* Change from absolute to fixed */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* Change to negative z-index to move it behind other content */
}

.hero {
  position: relative; /* Ensure the hero section stays on top */
  z-index: 2; /* Ensure the hero section stays on top */
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
